.container {
  width: 100%;
  margin-top: 3%;
  height: auto;
}
.content {
  height: auto;
  width: 60%;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 33px;
  justify-content: center;
  align-items: center;
}

.content input {
  background: none;
  color: light-dark(black, white);
  border: none;
  border-bottom: 1px groove light-dark(black, white);
  padding: 2%;
  font-size: 22px;
  outline: none;
  transition: border-bottom 0.1s linear;
  box-sizing: border-box;
  text-align: center;
}
.email {
  width: 100%;
  background: green;
}
.content input:focus {
  border-bottom: 3px groove light-dark(black, white);
}
.content h2 {
  text-align: center;
  margin-top: 1%;
}
.content textarea {
  border: none; /* Tüm border'ları kaldır */
  border-bottom: 1px groove light-dark(black, white); /* Sadece alt border'ı ekle */
  padding: 2%;
  font-size: 18px;
  background: none;
  outline: none; /* Odaklandığında varsayılan outline'u kaldır */
  transition: border-bottom 0.1s linear; /* Geçiş efekti ekle */
  box-sizing: border-box; /* padding ve border'ı içeriye dahil et */
  text-align: start;
  resize: none;
  overflow-y: hidden;
  width: 100%;
}

/* Odaklandığında border-bottom stilini değiştir */
.content textarea:focus {
  border-bottom: 3px groove light-dark(black, white); /* Odaklandığında border-bottom'u değiştir */
}

.nameInputContent {
  padding: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .content {
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 33px;
    justify-content: center;
    align-items: center;
  }
  .nameInputContent {
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
  }
}
