.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  top: 0;
  position: fixed;
  transition: top 0.3s linear;
  z-index: 10000;
  background-color: light-dark(White, rgb(1, 16, 66));
  transition: all 0.2s linear;
}

.hideContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  top: -100px;
  position: fixed;
  transition: top 0.3s linear;
}
.cengiz {
  font-size: 44px;
  font-style: italic;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.navigationsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  column-gap: 40px;
  align-items: center;
  position: absolute;
  right: 20px;
  animation: rightToLeft 1s forwards;
}
.navigations {
  font-size: 22px;
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.navigations::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: light-dark(black, white);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.navigations:hover::after {
  transform: scaleX(1);
}

.toggleContainer {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: light-dark(white, rgb(1, 16, 66));
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s linear;
}
.toggled {
  position: absolute;
  height: 100%;
  width: 60%;
  background: light-dark(rgb(1, 16, 66), red);
  border-radius: 20px;
  font-size: 20px;
  transform: translateX(0);
  transition: transform 0.2s linear;
  color: light-dark(white, white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.unToggled {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: light-dark(rgb(30, 90, 202), red);
  height: 100%;
  width: 60%;
  color: light-dark(white, white);
  border-radius: 20px;
  font-size: 20px;
  transform: translateX(70%);
  transition: transform 0.2s linear;
}
.mobileMenuButton {
  display: none;
}
.mobileMenu {
  display: none;
}
@media screen and (max-width: 768px) {
  .navigationsContainer {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    column-gap: 10px;
    align-items: center;
    position: absolute;
    right: 20px;
    animation: rightToLeft 1s forwards;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rightToLeft {
  from {
    right: -40%;
  }
  to {
    right: 20px;
  }
}
