.container {
  width: 100%;
  height: auto;
  margin-top: 4%;
  padding: 50px;
}

.content {
  margin: auto 20%;
  margin-top: 5%;
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
  left: 0;
  position: relative;
  animation: fadeIn 1s forwards; /* 3 saniyede fadeIn animasyonu */
}

.content p {
  font-size: 20px;
  line-height: 25px;
}

.content h1 {
  font-size: 80px;
}

.content h2 {
  font-size: 60px;
  color: #475569;
}

.content h4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 50px;
  color: #475569;
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .content {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    margin-top: 8%;
  }

  .content {
    margin-top: 3%;
    margin: 3% auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding-top: 4rem;
    padding-bottom: 0;
    justify-content: center;
    left: 0;
    position: relative;
    animation: fadeIn 1s forwards;
  }
}
/* fadeIn animasyonu */
@keyframes fadeIn {
  from {
    left: -70%;
  }
  to {
    left: 0;
  }
}
