.container {
  height: auto;
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container button {
  width: auto;
  padding: 16px 22px;
  height: auto;
  font-size: 18px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px groove transparent;
  border: 2px groove gray;
}
.container button:hover {
  background: gray;
}
.container h1 {
  font-size: 40px;
  text-align: center;
}
.content {
  padding: 0 2%;
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.project {
  width: 100%;
  height: 340px;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0, 2s linear;

  box-shadow: light-dark(rgba(0, 0, 0, 0.35), rgba(66, 66, 66, 0.35)) 5px 10px
    10px;
}
.projectImage {
  height: 75%;
  width: 100%;
  border-radius: 15px;
}

.projectFooter {
  padding: 15px;
  width: 100%;
  height: 25%;
  background: light-dark(rgb(183, 179, 179), #1e293b);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  gap: 10px;
  align-items: center;
  transition: all 0, 2s linear;

  justify-content: center;
}
.projectTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.icon {
  cursor: pointer;
}
.icon:hover {
  color: #1e5aca;
}
.project:hover .projectTitle h3 {
  color: #1e5aca;
}
.project:hover .date {
  color: #1e5aca;
}
.img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.img:hover img {
  transform: scale(1.1);
}
.img:focus img {
  transform: scale(1.1);
}
.tags {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .content {
    padding: 2%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 510px) {
  .content {
    padding: 2%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
