.container {
  margin-left: 5%;
  height: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container span {
  height: 200px;
  width: 2px;
  background: blue;
}
