.container {
  margin-left: 3%;
  height: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.container span {
  height: 120px;
  width: 2px;
  background: blue;
}
.icon {
  cursor: pointer;
}
