.container {
  margin-left: 3%;
  height: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.container span {
  height: 120px;
  width: 2px;
  background: blue;
}
.icon {
  cursor: pointer;
}
.container a:hover {
  padding-bottom: 5px;
  color: orange;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 3%;
    height: auto;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    justify-content: center;
    margin-top: 10%;
  }
  .container span {
    display: none;
  }
  .container a:hover {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
