.container {
  height: auto;
  width: 100%;
  margin-top: 11%;
  overflow-y: hidden;
}
.content {
  height: 100%;
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.container h2 {
  text-align: center;
  font-size: 40px;
}
.image {
  width: 50%;
  height: 50px;
}
.textContent {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.textContent h3 {
  text-align: center;
  font-size: 30px;
}

.skills {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  row-gap: 50px;
}
.featuresElement {
  border-radius: 100%;
  height: 180px;
  width: 80px;
  text-align: center;
}
.textContent ul {
  text-align: flex-start;
  list-style: none;
  margin-top: 10px;
  padding: 10px;
}
.textContent ul li {
  margin-top: 20px;

  font-size: 22px;
}

.skill {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.skill p {
  color: light-dark(black, black);
  transition: all 0, 2s linear;
}

.hoverElement {
  position: absolute;
  top: -60px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  width: max-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: light-dark(rgba(0, 0, 0, 0.35), rgba(66, 66, 66, 0.35)) 5px 10px
    10px;
}

.hoverElement::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: #ccc transparent transparent transparent;
  transform: translateX(-50%);
}
.hoverElement.hovered {
  opacity: 1;
}
